*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --black: #09093a;
    --white: #fafafa;
    --red: #FF0040;
    --bg: #ffeef8;
    --pink: #fa60ff;
    --blue-opacity: rgb(230, 247, 255);
    --grey-light: rgb(197, 197, 197);
    --grey-grey: rgb(112, 111, 111);

    font-size: 6.25%;
}

body{
    display: flex;
    height: 100vh;
    background: var(--bg);    
}

body, button, input, textarea{
    font-size: clamp(14px, 16rem, 2vw);
    font-family: 'Open Sans', sans-serif;
}

.logo{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 60rem;
    color: rgb(0, 7, 73);
}

.content{
    width: 100%;
    margin: 0 auto;
}

/* ESCONDER A <LABEL> "código da sala" (só existe pela acessibilidade) */
.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

input::placeholder{
    text-align: center;
}

input, button, .button{
    height: 40rem;
    border-radius: 10rem; 
}

button, .button{
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pink);
    color: var(--white);
    cursor: pointer;
    transition: filter .2s;
}

button:hover, .button:hover{
    filter: brightness(1.2);
}

button > img,
.button > img{
    margin-right: 5rem;
    width: 20rem;
}

button.outlined,
.button.outlined{
    background: var(--bg);
    color: var(--pink);
    border: 2rem solid var(--pink);
}

button.red,
.button.red{
    background: var(--red);
    color: var(--white)

}

.button.grey,
.button.grey{
    background: var(--grey-light);
    color: var(--grey-grey);

}

.content header{
    width: 80%;
    margin: 20rem;
    margin-left: 185rem;
}